@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
html{
    scroll-behavior: smooth;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 170%;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

a{
    font-family: sans-serif;
    font-size: 110%;
    color: white;
    
}

body{
    background: linear-gradient(to bottom,#751006,#34073d,#12243f,black);
    overflow-wrap: break-word;
    line-height:2;
    overflow-x: hidden;
}

.title {
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 1;
    text-decoration: underline whitesmoke;
}

.title h1{
    font-family:cursive, sans-seri;
}
.title p{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}


/*------------------------------------- Nav bar -----------------------------------*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 250px;
}
.nav{
    margin-top: 5px;
    white-space: nowrap;
    position: fixed;
    justify-content: space-between;
}
.nav a{
    z-index:999;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    top: 50%;
    transition: transform .3s ease-in;
}

.nav a:hover{
    color: rgb(177, 172, 172);
    transform: scaleX(1.05);
}

.content{
    margin-left: 250px;
    padding: 0px 10px;
    color: white;
    max-width: 80%;    
}
/* -------------------------------------------------------------------------------------------- */


/*------------------------------------- Color Palette -----------------------------------*/

.colors{
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.colors:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
}

/* --------------------------------------Old Palette--------------------------------------- */

#darkgreen:hover {
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #31525b, 0 6px 20px 0 rgb(44, 145, 173);
}
#lightblue:hover {
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #b3eed5, 0 6px 20px 0 #b3eed5;
}
#orange:hover {
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #ffa101, 0 6px 20px 0 #ffa101;
}
#beige:hover {
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #fae6b1, 0 6px 20px 0 #fae6b1;
}

/* --------------------------------------New Palette--------------------------------------- */
.colors2{
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: auto;
}
.colors2:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
}
#white:hover{
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #fff, 0 6px 20px 0 #fff;
}
#darkbeige:hover{
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #FFD29E, 0 6px 20px 0 #FFD29E;

}
#darkorange:hover{
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #F38D1F, 0 6px 20px 0 #F38D1F;

}
#black:hover{
    transition: transform .2s ease-in;
    box-shadow: 0 4px 2px -2px #000000, 0 6px 20px 0 #000000;

}


/* -------------------------------------------------------------------------------------------- */
/*-------------------------------------Survey -----------------------------------*/
#Questions{
    width: 250%;
}
#Questions-full{
    left: 20% !important;
}




/* -------------------------------------------------------------------------------------------- */
/*------------------------------------- Personas -----------------------------------*/
.persona-1, .persona-2{
    width: 250%;
}

/* -------------------------------------------------------------------------------------------- */


/*------------------------------------- Selina User Journey -----------------------------------*/
#Selina-user-journey{
    width: 250%;
}
#Selina-user-journey-full{

    height: 80%;
    top: 5%;
    left: 20%;

}
#Selina-user-journey-cap{
    margin-bottom: 1%;
}
/* -------------------------------------------------------------------------------------------- */

/*------------------------------------- Storyboard -----------------------------------*/

#storyboard{
    width: 250%;
}

#storyboard-full{
    margin-left: -52% !important;
}
/* -------------------------------------------------------------------------------------------- */


/*------------------------------------- Sketches -----------------------------------*/
#sketches{
    width: 50%;
}

#sketches-pics-full{

    height: 80%;
    top: 5%;
    left: 10%;

}
/* -------------------------------------------------------------------------------------------- */


/*------------------------------------- Wireframes -----------------------------------*/
#wireFrame{
    width: 50%;
}

#sketches-pics-full{

    height: 80%;
    top: 5%;
    left: 10%;

}
/* -------------------------------------------------------------------------------------------- */
/*------------------------------------- Typography -----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

.fonts{
    font-size: 20px;
}
.comforta-light{
    font-family: 'Comfortaa';
}
.work-sans{
    font-family:  'Work Sans', sans-serif;;
}
.lexend-exa{
    font-family: 'Lexend Exa', sans-serif;;
}
/* -------------------------------------------------------------------------------------------- */

/* ----------------------------------------------Mock up--------------------------------------- */

#mockup{
    width: 50%;

}

#mockup1-full{
    left: 70% !important;
}





/* --------------------------------------------------------------------------------------------- */

/*------------------------------------- Image zoom -----------------------------------*/

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
.image-container{
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: auto;
    transition:  all 0.3s ease-out;
    cursor: zoom-in;
}

.image-container img:hover{
}




.full-img{
    position: absolute;
    height: 70%;
    top: 10%;
    left: 40% !important;
    transform: (translate(-50%, -50%)scale(0.5));
    transition: all 0.25s ease-out;

}
.full-img.open{
    transform: (translate(-50%, -50%)scale(1));
    

}

.model{
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
    
}

.model.open{
    opacity: 1;
    pointer-events: all;
}

.model p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    margin-bottom: 5%;
    bottom: 1%;
    left: 46%;
    transform: (translate(-50%, -1%));
}
/* -------------------------------------------------------------------------------------------- */

.figma-prototype{
    text-align: center;
    overflow: none;
}

footer{
    padding-top: 5%;
    text-align: center;
    color: #fff;
}